@use "reset.scss";
@use "animations.scss";
@use "mixins.scss";
@use "mixins.derrived.scss" as mixins2;
@use "globals.scss";
@use "functions";
@use "variables";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: functions.rem(1100);
    padding-left: functions.rem(24);
    padding-right: functions.rem(24);
}
.btn{
    border: none;
    padding: functions.rem(10);
    border-radius: functions.rem(6);
    background: #1e417c;
    color: #fff;
    font-family: variables.$font-openSans;
    @include mixins.set-typography(14, 21);
    font-weight: 500;
}

.header {
    background: #fff;
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    margin-bottom: functions.rem(50);

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: functions.rem(50);
        align-items: center;
        height: functions.rem(75);

        h1 {
            font-family: variables.$font-gentium;
            font-size: functions.rem(30);
            line-height: functions.rem(40);
        }
    }
}

.module-head {

    .module-title {
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, #ff3131, #2323ff);
        -webkit-background-clip: text;
        color: #000;
        font-family: "DM Serif Display", serif;
        font-size: functions.rem(40);
        font-style: normal;
        font-weight: 400;
        line-height: functions.rem(54);

        &+.module-subtitle {
            color: #9a9a9a;
            font-family: Lato, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            margin-top: 10px;
        }

        @include mixins.breakpointmax(variables.$end-small) {
            font-size: 24px;
            line-height: 32px;
            text-shadow: 0px 3.55px 7.11px rgba(0, 0, 0, 0.25);

            &+.module-subtitle {
                font-size: 14px;
                line-height: 21px;
                margin-top: functions.rem(5);
            }
        }
    }
}


ul {
    &.lists {
        list-style: inside;
        margin-top: functions.rem(25);

        li {
            @include mixins2.desc-1();
            line-height: functions.rem(40);

            a {
                color: variables.$clr-3;
            }
        }
    }
}


.form-group {
    margin: functions.rem(25) 0;
    position: relative;

    input[type="text"] {
        width: functions.rem(300);
        padding: functions.rem(10) functions.rem(20);
        border: 1px solid rgba(61, 87, 126, 0.45);
        border-radius: functions.rem(8);
        background-color: rgba(247, 247, 247, 1);
        line-height: functions.rem(24);

        @include mixins.hover() {
            outline: 0;
        }

        &:focus,
        &:-internal-autofill-selected,
        &:autofill,
        &.valid,
        &:focus-visible {
            border-image-source: linear-gradient(97.01deg, #EE1113 0.91%, #7403FA 96.74%) !important;
            border-image-slice: 0 !important;
            background: linear-gradient(white, white) padding-box, linear-gradient(97.01deg, #EE1113 0.91%, #7403FA 96.74%) border-box !important;
            background-color: transparent !important;

            &+label {
                top: functions.rem(-7);
                background: #fff;
                padding: 0 5px;
                @include mixins.set-typography(12, 18);
                font-weight: 400;
            }
        }
    }

    label {
        position: absolute;
        top: functions.rem(10);
        left: functions.rem(20);
        @include mixins.set-typography(18, 26);
        color: variables.$clr-3;
        font-weight: 500;
        font-family: variables.$font-openSans;
        text-transform: capitalize;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        pointer-events: none;
    }

    .input-error {
        border-color: red;
    }

    small {
        color: red;
        position: absolute;
        left: 0;
        top: functions.rem(50);
    }

    &.otp_box {
        display: flex;
        gap: functions.rem(8);

        input {
            width: functions.rem(25);
            border-radius: functions.rem(4);
            text-align: center;
            @include mixins.set-typography(16, 26);
        }
    }

    &.checkbox_container {
        margin-left: functions.rem(20);

        label {
            position: static;
            margin-left: functions.rem(10);
        }
    }
}

.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: functions.rem(20);
    gap: functions.rem(20);
    h4{
        @include mixins.set-typography(18, 26);
        color: variables.$clr-3;
        font-weight: 500;
        font-family: variables.$font-openSans;
    }
    h5{

    }
    .controls{
        display: flex;
        gap: functions.rem(15);
        button{

        }
    }

}

.goback_btn {
    background: url("../images/back-btn.svg") 0 0 no-repeat;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 40px;
}

.show-keyword{
    ul{
        display: flex;
        gap: functions.rem(12);
        li{
            background: rgba(0, 0, 0, 0.1);
            @include mixins.set-typography(14, 21);
            border-radius: functions.rem(50);
            padding: functions.rem(8) functions.rem(12);
            span{
                margin-left: functions.rem(5);
                color: variables.$primary;
                cursor: pointer;
            }
        }
    }
}

.progress-container{
    display: flex;
    gap: functions.rem(10);
    flex-direction: column;
    margin-top: functions.rem(20);
    .progress-bar{
        border: 1px solid #ccc;
        border-radius: functions.rem(26);
        overflow: hidden;
        position: relative;
        
        .item{
            background-color: #06a13f;
            padding: functions.rem(10);
            border-radius: functions.rem(26);
            transition: .5s all ease-in-out;
        }
        .text{
            position: absolute;
            @include mixins.set-typography(14, 21);
            left: functions.rem(20);
            top: 0;
        }
    }
}