
@import "reset.scss";
@import "animations.scss";
@import "mixins.scss";
@import "mixins.derrived.scss";
@import "globals.scss";
  
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1100);
    padding-left: rem(24);
    padding-right: rem(24);
}

.header{
    background: #fff;
    box-shadow: 0 2px 14px rgba(0,0,0,.1);
    margin-bottom: rem(50);
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: rem(50);
        align-items: center;
        height: rem(75);
        h1{
            font-family: $font-gentium;
            font-size: rem(30);
            line-height: rem(40);
        }
    }
}

.module-head {

    .module-title {
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, #ff3131, #2323ff);
        -webkit-background-clip: text;
        color: #000;
        font-family: "DM Serif Display", serif;
        font-size: rem(40);
        font-style: normal;
        font-weight: 400;
        line-height: rem(54);

        &+.module-subtitle {
            color: #9a9a9a;
            font-family: Lato, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            margin-top: 10px;
        }
        @include breakpointmax($end-small){
            font-size: 24px;
            line-height: 32px;
            text-shadow: 0px 3.55px 7.11px rgba(0, 0, 0, 0.25);
            &+.module-subtitle {
                font-size: 14px;
                line-height: 21px;
                margin-top: rem(5);
            }
        }
    }
}


ul{
    &.lists{
        list-style: inside;
        margin-top: rem(25);
        li{
            @include desc-1();
            line-height: rem(40);
            a{
                color: $clr-3;
            }
        }
    }
}


.form-group {
    margin: rem(25) 0;
    position: relative;

    input[type="text"] {
        width: rem(300);
        padding: rem(10) rem(20);
        border: 1px solid rgba(61, 87, 126, 0.45);
        border-radius: rem(8);
        background-color: rgba(247, 247, 247, 1);
        line-height: rem(24);

        @include hover() {
            outline: 0;
        }

        &:focus,
        &:-internal-autofill-selected,
        &:autofill,
        &.valid,
        &:focus-visible {
            border-image-source: linear-gradient(97.01deg, #EE1113 0.91%, #7403FA 96.74%) !important;
            border-image-slice: 0!important;
            background: linear-gradient(white, white) padding-box, linear-gradient(97.01deg, #EE1113 0.91%, #7403FA 96.74%) border-box !important;
            background-color: transparent!important;
            &+label {
                top: rem(-7);
                background: #fff;
                padding: 0 5px;
                @include set-typography(12, 18);
                font-weight: 400;
            }
        }
    }

    label {
        position: absolute;
        top: rem(10);
        left: rem(20);
        @include set-typography(18, 26);
        color: $clr-3;
        font-weight: 500;
        font-family: $font-openSans;
        text-transform: capitalize;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        pointer-events: none;
    }

    .input-error {
        border-color: red;
    }

    small {
        color: red;
        position: absolute;
        left: 0;
        top: rem(50);
    }
    &.otp_box{
        display: flex;
        gap: rem(8);
        input{
            width: rem(25);
            border-radius: rem(4);
            text-align: center;
            @include set-typography(16, 26);
        }
    }
    .form-group{
        margin-left: rem(20);
    }
    .checkbox_container__inner{
        display: flex;
        justify-content: flex-start;
        gap: rem(20);
        align-items: center;
        label{
            position: static;
        }
    }
}

.goback_btn {
    background: url("../images/back-btn.svg") 0 0 no-repeat;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 40px;
}

