@import "mixins.derrived.scss";

  .desktop-view {
    @include breakpointmax($end-small) {
      display: none !important;
    }
  }

  .mobile-view {
    @include breakpoint($end-small) {
      display: none !important;
    }
  }

  .hide {
    display: none !important;
  }

   

  

