@use "mixins.derrived.scss" as mixins2;
@use "mixins";
@use "variables";

  .desktop-view {
    @include mixins.breakpointmax(variables.$end-small) {
      display: none !important;
    }
  }

  .mobile-view {
    @include mixins.breakpoint(variables.$end-small) {
      display: none !important;
    }
  }

  .hide {
    display: none !important;
  }

   

  

