@import "mixins.derrived.scss";
  .input-box {
    @include input-style-1();
  }

  .desktop-view {
    @include breakpointmax($end-small) {
      display: none !important;
    }
  }

  .mobile-view {
    @include breakpoint($end-small) {
      display: none !important;
    }
  }

  .hide {
    display: none !important;
  }

  .btn, .btn-vote {
    @include btn($clr-3);
    will-change: transform;
    transform: translateZ(0);
    outline: none;
    &.primary{
      background: $clr-5;
      border-color: $clr-5;
      @include hover(){
        background: $clr-1;
        border-color: $clr-5;
        color: $clr-5;
      }
    }
    @include breakpointmax($end-small){
      @include set-typography(14, 21);
    }
  }
  .blinker {
    width: rem(11);
    height: rem(11);
    background-color: $clr-3;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite alternate ease-in-out;
}


   

  

