@mixin breakpoint($break) {
	@media screen and (min-width:$break) {
		@content;
	}
}

@mixin breakpointmax($break) {
	@media screen and (max-width:$break) {
		@content;
	}
}

@mixin breakpointmintomax($breakmin, $breakmax) {
	@media screen and (min-width:$breakmin) and (max-width:$breakmax) {
		@content;
	}
}

@mixin breakpointheightmax($break) {
	@media screen and (max-height:$break) {
		@content;
	}
}

@mixin browser-support($property, $value){
	-ms-#{$property}: $value;
	-webkit-#{$property}: $value;
	#{$property}: $value;
}

@mixin flex-property($property, $value) {
	@include browser-support($property, $value);
}

// To cover focus styles similar to hover styles
@mixin hover {
    &:hover,
    &:focus {
        @content;
    }
}

@mixin btn-invert($bg) {
	@include btn($bg);
	background: #fff;
	color: $bg;
	cursor: pointer;


	@include hover {
		background: $bg;
		color: #fff;
		&::after{
			background-position: -623px -218px;
		}
	}
}

@mixin set-typography($fs:12, $lh:16) {
	font-size: rem(#{$fs});
	line-height: rem(#{$lh});
}

@mixin insert-box-shadow($value: 0px 4px 20px) {
	box-shadow: #{$value} rgba(0, 0, 0, 0.1);
}

@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}
